@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  background: #2c3e50;
  font-family: 'PT Sans', sans-serif;
}

.box {
  background: #fff;
  -webkit-box-shadow: -4px 5px 11px 1px rgba(148,126,148,0.71);
  -moz-box-shadow: -4px 5px 11px 1px rgba(148,126,148,0.71);
  box-shadow: -4px 5px 11px 1px rgba(148,126,148,0.71);
  border-radius: 45px;
}

.wrapper {
  height: 100vh;
}
